/* style body */
body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}


/* style box */
.box {
    font: 10px sans-serif;
}

.box line,
.box rect,
.box circle {
    fill: chocolate;
    stroke: black;
    stroke-width: 1px;
}

.box .center {
    stroke-dasharray: 3, 3;
}

.box .outlier {
    fill: none;
    stroke: black;
}


/* style axis */
.axis {
    font: 12px sans-serif;
}

.axis path,
.axis line {
    fill: none;
    stroke: black;
    shape-rendering: crispEdges;
}

.x.axis path {
    fill: none;
    stroke: black;
    shape-rendering: crispEdges;
}