/* style body*/

body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}


/* style box */
.box line,
.box rect,
.box circle {
    stroke: #000;
    fill: orange;
    stroke-width: 1px;
}

.box {
    font: 10px sans-serif;
}


.box .center {
    stroke-dasharray: 3,3;
}

.box .outlier {
    fill: none;
    stroke: #000;
}


/* style axis */
.axis {
    font: 12px sans-serif;
}

.axis path,
.axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}

.x.axis path {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}